$footer_style:("footer_width": 100%,
"footer_height": 200px,
"footer_background": rgb(33, 35, 46),
"footer_text_color" : rgb(255, 255, 255),
);
$font: 'Varela',
sans-serif;
$header_image: url(../img/m-h-day.jpg);
$text_color: #2c2f3c;
$color_underline: #14a0c7;
$buttonBGColor: #699900;
$buttonColor: #f2f3f7;
$cardBgColor: #21232e;
$gradient:(start:#699901, end:#2C5ADC);
$main_background_color: #ffffff;