$footer_style:("footer_width": 100%,
"footer_height": 200px,
"footer_background": rgb(59, 63, 80),
"footer_text_color" : rgb(255, 255, 255),
);
$font: 'Varela',
sans-serif;
$header_image: url(../img/m-h-night.jpg);
$text_color: #ffffff;
$color_underline: #ff4e33;
$buttonBGColor: #e3ac00;
$buttonColor: #f2f3f7;
$cardBgColor: #3b3f50;
$gradient:("start":#E2AB01, "end":#922B53);
$main_background_color: #21232e;